<%- include('../partials/head.ejs'); %>
<%- include('../partials/navbarjogos.ejs'); %>
      
    <div class ="container">
        <h3>Editar jogo</h3>
        <hr>
        <h4>Informações atuais</h4>
        <hr>
        <% jogo.forEach( inf=> {  %>
            <div class="container">
                <div class="card-body">               
                    <input type="hidden" name="id" value=" <%= inf.id %>" >
                 <div class="input-group mb-3" >
                     <div class="input-group-append" >
                         <span class="input-group-text" >Nome do Jogo</span>
                     </div>
                     <input type="text" class="form-control" name="nome" placeholder="<%=inf.nome %>">
                 </div>
         
                 <div class="input-group mb-3 " >
                     <div class="input-group-append" >
                         <span class="input-group-text" >Preço do Jogo</span>
                     </div>
                     <input type="number" class="form-control" name="preco" placeholder="<%=inf.preco %>">
                 </div>
         
                 <div class="input-group mb-3" >
                     <div class="input-group-append" >
                         <span class="input-group-text" >Data de lançamento</span>
                     </div>
                     <input type="number" class="form-control" name="lançamento" placeholder="<%=inf.lançamento %>">
                 </div>
         
                 <div class="input-group mb-3" >
                     <div class="input-group-append" >
                         <span class="input-group-text" >Sinopse do Jogo</span>
                     </div>
                     <textarea  class="form-control" name="sinopse" placeholder="Sinopse" rows="5"><%=inf.sinopse %></textarea>
                 </div>
         
                
                </div>
             </div>
        <% }) %>
        <hr>
        <h4>Atualizar</h4>

        <form method="POST" action="/product/update">
            <% jogo.forEach( inf=> {  %>
            <input type="hidden" name="id" value=" <%= inf.id %>" >
            <% }) %>
            <div class="container">
               <div class="card-body">
            
                <div class="input-group mb-3" >
                    <div class="input-group-append" >
                        <span class="input-group-text" >Nome do Jogo</span>
                    </div>
                    <input type="text" class="form-control" name="nome" placeholder="Nome">
                </div>
        
                <div class="input-group mb-3 " >
                    <div class="input-group-append" >
                        <span class="input-group-text" >Preço do Jogo</span>
                    </div>
                    <input type="number" class="form-control" name="preco" placeholder="R$00,00">
                </div>
        
                <div class="input-group mb-3" >
                    <div class="input-group-append" >
                        <span class="input-group-text" >Data de lançamento</span>
                    </div>
                    <input type="number" class="form-control" name="lançamento" placeholder="lançamento">
                </div>
        
                <div class="input-group mb-3" >
                    <div class="input-group-append" >
                        <span class="input-group-text" >Sinopse do Jogo</span>
                    </div>
                    <textarea  class="form-control" name="sinopse" placeholder="Sinopse" rows="5"></textarea>
                </div>
        
               
               </div>
               <button type="submit" class="btn btn-success  btn-block" >Atualizar</button>
            </div>
            
           </form>


    </div>
   



    
<%- include('../partials/foot.ejs'); %>
